<ion-header>
  <ion-toolbar>
    <ion-title>Dashboard</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

<ion-card>
  <ion-card-header>
    <ion-card-title>Saldo Actual</ion-card-title>
  </ion-card-header>
  <ion-card-content>
    {{saldo}}
  </ion-card-content>
</ion-card>

<ion-card>
  <ion-card-header>
    <ion-card-title>Ingresos</ion-card-title>
  </ion-card-header>
  <ion-card-content>
    {{ingresos}}
  </ion-card-content>
</ion-card>

<ion-card>
  <ion-card-header>
    <ion-card-title>Gastos</ion-card-title>
  </ion-card-header>
  <ion-card-content>
    {{gastos}}
  </ion-card-content>
</ion-card>

<ion-card>
  <ion-card-header>
    <ion-card-title>Gastos por Categoría</ion-card-title>
  </ion-card-header>

  <ion-card-content>

    <canvas id="graficaPastel"></canvas>

  </ion-card-content>
</ion-card>

</ion-content>