<app-header></app-header>
<ion-content>

<div class="fondo-fintech">

<div class="circle"></div>

<div class="ion-padding dashboard-container">

<!-- SALDO -->

<ion-card class="saldo-card">
  <h2>Usuario: {{nombreUsuario}} </h2>

<ion-card-header>

<ion-card-subtitle>Saldo actual</ion-card-subtitle>

<ion-card-title>{{saldo | currency}}</ion-card-title>

</ion-card-header>

</ion-card>


<!-- INGRESOS / GASTOS -->

<ion-grid>

<ion-row>

<ion-col size="6">

<ion-card class="mini-card ingreso">

<h3>Ingresos</h3>

<p>{{ingresos | currency}}</p>

</ion-card>

</ion-col>

<ion-col size="6">

<ion-card class="mini-card gasto">

<h3>Gastos</h3>

<p>{{gastos | currency}}</p>

</ion-card>

</ion-col>

</ion-row>

</ion-grid>


<!-- GRAFICA -->

<ion-card class="grafica-card">

<ion-card-header>

<ion-card-title>Gastos por categoría</ion-card-title>

</ion-card-header>

<ion-card-content>

<div class="grafica-container">

<canvas id="graficaPastel"></canvas>

</div>

</ion-card-content>

</ion-card>

</div>

</div>

</ion-content>