<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Detalle de Transacción</ion-title>

    <ion-buttons slot="end">
      <ion-button fill="clear" (click)="cerrar()">
        <ion-icon name="close-outline"></ion-icon>
      </ion-button>
    </ion-buttons>

  </ion-toolbar>
</ion-header>

<ion-content class="fondo-fintech ion-padding">

  <ion-card class="card-detalle">

    <ion-card-header>
      <ion-card-title class="categoria">
        {{transaccion.getCategoria()}}
      </ion-card-title>

      <ion-badge
      [color]="transaccion.getTipo() === 'ingreso' ? 'success' : 'danger'"
      class="badge-tipo">
        {{transaccion.getTipo() | uppercase}}
      </ion-badge>

    </ion-card-header>

    <ion-card-content>

      <div class="monto">
        {{transaccion.getMonto() | currency}}
      </div>

      <ion-list lines="none">

        <ion-item>
          <ion-icon name="document-text-outline" slot="start"></ion-icon>
          <ion-label>
            <h3>Descripción</h3>
            <p>{{transaccion.getDescripcion()}}</p>
          </ion-label>
        </ion-item>

        <ion-item>
          <ion-icon name="calendar-outline" slot="start"></ion-icon>
          <ion-label>
            <h3>Fecha</h3>
            <p>{{transaccion.getFecha() | date}}</p>
          </ion-label>
        </ion-item>

      </ion-list>

      <div *ngIf="transaccion.getComprobante()" class="comprobante-container">

        <ion-text color="medium">
          <h3>Comprobante</h3>
        </ion-text>

<div *ngIf="transaccion.getComprobante()" class="comprobante-container">

  <ion-text color="medium">
    <h3>Comprobante</h3>
  </ion-text>

<img
[src]="transaccion.getComprobante()"
class="comprobante"
[ngClass]="tamanoImagen">

<ion-segment [(ngModel)]="tamanoImagen" class="segment-preview">

  <ion-segment-button value="small">
    Pequeña
  </ion-segment-button>

  <ion-segment-button value="medium">
    Mediana
  </ion-segment-button>

  <ion-segment-button value="large">
    Grande
  </ion-segment-button>

</ion-segment>
</div>

      </div>

    </ion-card-content>

  </ion-card>

</ion-content>