<app-header></app-header>

<ion-content>

<div class="fondo-fintech">

<div class="form-container">

<ion-card class="form-card">

<ion-card-header>

<ion-card-title>{{ idEditar ? 'Editando transacción' : 'Registrando transacción' }}</ion-card-title>

</ion-card-header>

<ion-card-content>

<!-- TIPO -->

<ion-item>

<ion-label>Tipo</ion-label>

<ion-segment [(ngModel)]="tipo">

<ion-segment-button value="ingreso">
Ingreso
</ion-segment-button>

<ion-segment-button value="gasto">
Gasto
</ion-segment-button>

</ion-segment>

</ion-item>


<!-- CATEGORIA -->

<ion-item>

<ion-label>Categoría</ion-label>

<ion-select [(ngModel)]="categoria" placeholder="Selecciona">

<ion-select-option
*ngFor="let c of categorias"
[value]="c">

{{c}}

</ion-select-option>

</ion-select>

</ion-item>


<!-- MONTO -->

<ion-item>

<ion-input
type="number"
label="Monto"
placeholder="0"
[(ngModel)]="monto">

</ion-input>

</ion-item>

<ion-item>

  <ion-label>Fecha</ion-label>

  <!-- CUANDO EDITA -->
  <ion-text slot="end" *ngIf="idEditar">
    {{ fecha | date:'dd/MM/yyyy' }}
  </ion-text>

  <!-- CUANDO CREA -->
  <ion-text slot="end" *ngIf="!idEditar">
    <ion-datetime-button datetime="fechaPicker"></ion-datetime-button>
  </ion-text>

</ion-item>


<!-- SOLO SE MUESTRA SI NO ESTA EDITANDO -->
<ion-modal keep-contents-mounted="true" *ngIf="!idEditar">

  <ng-template>

    <ion-datetime
      id="fechaPicker"
      presentation="date"
      showDefaultButtons="true"
      cancelText="Cancelar"
      doneText="Aceptar"
      [(ngModel)]="fecha">
    </ion-datetime>

  </ng-template>

</ion-modal>
<!-- DESCRIPCION -->

<ion-item>

<ion-textarea
label="Descripción"
placeholder="Opcional"
[(ngModel)]="descripcion">

</ion-textarea>

</ion-item>


<!-- FOTO -->

<ion-button expand="block" class="btn-foto" (click)="tomarFoto()">

<ion-icon slot="start" name="camera"></ion-icon>

Agregar comprobante

</ion-button>


<img
*ngIf="comprobante"
[src]="comprobante"
class="preview-img">


<!-- GUARDAR -->

<ion-button expand="block" class="btn-guardar" (click)="guardar()">

Guardar Transacción

</ion-button>

</ion-card-content>

</ion-card>

</div>

</div>

</ion-content>