<app-header></app-header>

<ion-content>

<div class="fondo-fintech">

<div class="form-container">

<ion-card class="form-card">

<ion-card-header>

<ion-card-title>Nueva Transacción</ion-card-title>

</ion-card-header>

<ion-card-content>

<!-- TIPO -->

<ion-item>

<ion-label>Tipo</ion-label>

<ion-segment [(ngModel)]="tipo">

<ion-segment-button value="ingreso">
Ingreso
</ion-segment-button>

<ion-segment-button value="gasto">
Gasto
</ion-segment-button>

</ion-segment>

</ion-item>


<!-- CATEGORIA -->

<ion-item>

<ion-label>Categoría</ion-label>

<ion-select [(ngModel)]="categoria" placeholder="Selecciona">

<ion-select-option
*ngFor="let c of categorias"
[value]="c">

{{c}}

</ion-select-option>

</ion-select>

</ion-item>


<!-- MONTO -->

<ion-item>

<ion-input
type="number"
label="Monto"
placeholder="0"
[(ngModel)]="monto">

</ion-input>

</ion-item>


<!-- DESCRIPCION -->

<ion-item>

<ion-textarea
label="Descripción"
placeholder="Opcional"
[(ngModel)]="descripcion">

</ion-textarea>

</ion-item>


<!-- FOTO -->

<ion-button expand="block" class="btn-foto" (click)="tomarFoto()">

<ion-icon slot="start" name="camera"></ion-icon>

Agregar comprobante

</ion-button>


<img
*ngIf="comprobante"
[src]="comprobante"
class="preview-img">


<!-- GUARDAR -->

<ion-button expand="block" class="btn-guardar" (click)="guardar()">

Guardar Transacción

</ion-button>

</ion-card-content>

</ion-card>

</div>

</div>

</ion-content>